table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  max-width: 1200px;
  margin: 30px auto 5px auto;
}

thead {
  background-color: #297bff;
  color: #ffffff;
  text-align: center;
}

td, th {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}


tbody tr:hover {
  font-weight: 600;
  cursor: pointer;
}

span {
  display: block;
  text-align: left;
}

/* tr:nth-child(even) {
  background-color: #dddddd;
} */